#nav_principal{
    background-color: #98C5CF;
}

#navImg img{
    width: 25%;
}

#search{
    position: absolute;
    right: 35vw;
}

#search input{
    width: 20vw;
}

#search button img{
    width: 22px;
}

#nav_carrinho {
    position: relative;
    display: inline-block;
    margin-left: 15px;
}

#qtd_animated {
    position: absolute;
    top: -5px;
    right: -9px;
    font-size: 16px;
    text-align: center;
    background-color: #5badc2;
    padding: 0px 7px;
    border-radius: 50%;
    color: white;
}

main{
    margin-top: 15vh;
}

h2{
    margin-top: 2vh;
}

#card{
    background-color: rgba(222, 232, 235, 0.5);
    color: black;
    border: none;
    color: #6A6A6A;
    margin-top: 1vh;
}

#card #img{
    width: 200px;
    align-self: center;
    margin-top: 2vh;
}

#valor{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5vh;
}

.lata{
    position: absolute;
    bottom: 1vh;
    right: 2vw;
    border: none;
    background: none;
}

.lata img{
    width: 35px;
}

.lista{
    position: fixed;
    right: 10vw;
    top: 16vh;
}

.list{
    background-color: rgba(222, 232, 235, 0.5);
    color: #535353;
    height: 50vh;
    width: 30vw;
    padding: 20px 50px;
    border-radius: 8px 8px 0px 0px;
    overflow: auto;
}

.listp{
    font-size: 18px;
    font-weight: bold;
}

.total{
    background-color: #DEE8EB;
    color: #535353;
    height: 12vh;
    border-radius: 0px 0px 8px 8px;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
}

#textTot{
    font-size: 20px;
    font-weight: 500;
}

#tot{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.botoes{
    text-align: center;
    padding-left: 1vw;
}

#comprar,
#cancelar{
    margin-right: 1vw;
    width: 10vw;
    height: 5vh;
    font-size: 18px;
    font-weight: 500;
}
